VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM_NAME="Kuwashii Shop"

# Cloudflare D1 Configuration
CF_ACCOUNT_ID=
CF_DATABASE_ID=
CF_API_TOKEN=

# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=