VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM_NAME="Kuwashii Shop"

DISCORD_BOT_TOKEN=
DISCORD_ADMIN_CHANNEL_ID=
DISCORD_ADMIN_ROLE_ID=1511343665128276181